p {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  text-align: justify;
}

h5 {
  margin-left: 1rem;
  margin-right: 1rem;
}

ul{
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

