<div class="container-fluid">
  <div class="card-box">
    <div class="row form-group">
      <div class="col-6 col-lg-8">
        <h3 class="title font-weight-bold col-form-label">Manage Accounts</h3>
      </div>
      <div class="col-6 col-lg-4 text-right">
        <button class="btnfont col-form-label btn btn-outline-dark"
                >
                <!-- (click)="createModal(create)" -->
                <i class="fas fa-plus"></i> Add new account
        </button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-6 col-sm-5 col-md-5 col-lg-4">
        <input class="form-control" placeholder="Search key">
      </div>
      <div class="col-6 col-sm-5 col-md-3 col-lg-3">
        <ng-select class="responsived" placeholder="Choose Role" [items]="roleList" [clearable]="false"></ng-select>
      </div>
    </div>
  </div>

  <div class="card-box row">
    <div class="col-12 table-responsive" style="overflow-x:auto !important;">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th id="no" class="px-0">No.</th>
            <th id="code">User Code</th>
            <th id="name">Account Name</th>
            <!-- <th>Role</th> -->
            <th id="email">Recommended by</th>
            <th id="date">Date</th>
            <th id="add">Title</th>
            <th id="action">Actions</th>
          </tr>
        </thead>

        <tbody>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td id="action" class="text-center px-0">
            <button class="btn btn-link text-primary" (click)="viewModal(view)"><i class="fas fa-user-edit"></i></button>
            <button class="btn btn-link text-danger"><i class="fas fa-trash"></i></button>
          </td>
        </tbody>

        <!-- <tbody>
          <tr *ngIf="!accountList || accountList.length < 1">
            <td class="text-center" colspan="6">Không có dữ liệu</td>
          </tr>

          <tr *ngFor="let item of accountList; let i = index">
              <td id="no" class="text-center">{{((pageNum - 1) * pageSize) + i + 1 }}</td>
              <td id="code">{{item?.codeUser}}</td>
              <td id="name" class="text-primary" (click)="viewModal(item, view)">{{item?.name}}</td>
              <td id="email" class="text-break">{{item?.email}}</td>
              <td id="date">{{item?.dob}}</td>
              <td id="add" class="text-wrap">{{item?.address}}</td>
              <td id="pn">{{item?.phoneNumber}}</td>
              <td id="action" class="text-center px-0">
                <button class="btn btn-link text-primary"><i class="fas fa-user-edit"></i></button>
                <button class="btn btn-link text-danger"><i class="fas fa-trash"></i></button>
              </td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>
</div>

<ng-template #view>
  <div class="card-box">
    <article class="title font-weight-bold">Students raise awareness about end-of-life care</article>
  </div>
  <div class="card-box">
    <img src="assets/image/tho.jpg" style="width:100%; margin-bottom: 25px;" alt="">
    <label class="content-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quod architecto error ullam ducimus est sunt quo cupiditate harum repellat velit accusamus hic, eum natus nulla delectus beatae nam sint!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?
      Lorem ipsum dolor, sit ameLorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?t consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?
      Lorem ipsum dolor, sit ameLorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?t consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?
      Lorem ipsum dolor, sit ameLorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?t consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?
      Lorem ipsum dolor, sit ameLorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?t consectetur adipisicing elit. Dolore, quaerat quidem quo accusamus iste nesciunt rerum fugit quis vitae magni consequuntur quod! Explicabo vero quam saepe voluptate doloribus inventore nobis?
    </label>
  </div>

  <div class="card-box" style="padding-bottom: 0.5rem;">
      <h3 class="title">Feeback Comment</h3>

      <!-- Chat box here  -->
      <table class="table border table-hover">
        <tbody>
          <td>
            <div class="row">
              <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <article class="font-weight-bold content-2 mr-3">Student - John Sterling</article>
                <button class="btn btn-outline-dark btnfont content-2">Chat <i class="far fa-comment-dots"></i> </button>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right content-2">
                on August 5, 2020
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 content-2">
                Goodjob !!!
              </div>
            </div>
          </td>
        </tbody>
      </table>



      <input class="feedback-content form-control" placeholder="Leave feedback comment here">
      <div class="row form-group mt-1 mb-0">
        <div class="col-7 col-sm-7 col-md-8 col-lg-9"></div>
        <div class="col-5 col-sm-5 col-md-4 col-lg-3">
          <button class="btn btn-outline-dark btnfont float-right">Send Feedback</button>
        </div>
      </div>
  </div>

  <div class="row form-group" id="combo-button">
    <button class="col-2 col-sm-2 col-md-2 col-lg-2 btn btn-outline-dark btnfont">Cancel</button>
    <div class="col-4 col-sm-4 col-md-4 col-lg-6"></div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
      <div class="row">
        <button class="col-11 col-sm-11 col-md-11 col-lg-11 btn btn-outline-dark btnfont">Recommend</button>
      </div>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
      <div class="row">
        <button class="col-12 col-sm-12 col-md-12 col-lg-12 btn btn-outline-dark btnfont">Download</button>
      </div>
    </div>
  </div>
</ng-template>
