 text-white float-left<div class="container-fluid">
  <div class="card-box">
    <div class="row form-group">
      <div class="col-6 col-lg-8">
        <h3 class="title font-weight-bold col-form-label">Manage Accounts</h3>
      </div>
      <div class="col-6 col-lg-4 text-right">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-6 col-sm-5 col-md-5 col-lg-4">
        <input class="form-control" placeholder="Search key">
      </div>
    </div>
  </div>

  <div class="card-box row">
    <div class="col-12 table-responsive" style="overflow-x:auto !important;">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th id="no" class="px-0">No.</th>
            <th id="code">User Code</th>
            <th id="name">Account Name</th>
            <!-- <th>Role</th> -->
            <th id="email">Email</th>
            <th id="email">Faculty</th>
            <th id="date">School Year</th>
            <th id="action">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf=" !mcList || mcList.length < 1">
            <td colspan="7"> No data </td>
          </tr>

          <tr class="text-center" *ngFor="let item of mcList; let i = index">
            <td>{{((pageNum - 1) * pageSize) + i + 1}}</td>
            <td class="text-primary" (click)="viewModal(item, view)">{{item.codeUser}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.facultyName}}</td>
            <td>{{item.nam}}</td>
            <td id="action" class="text-center px-0">
              <button class="btn btn-link text-primary" (click)="editModal(item, edit)"><i class="fas fa-user-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- (click)="deleteCategory(item)"
(click)="editModal(item, edit)" -->

<ng-template #view>
  <div class="">
    <h4 class="float-left mt-3 ml-3">Marketing Coordinator Profile</h4>
  </div>
  <div>
    <div class="modal-body">
      <form [formGroup]="mcForm" (ngSubmit)="onSubmit(mcForm.value)">
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">User Code:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control"
                  formControlName="codeUser" placeholder="User Code" disabled>
            <div *ngIf="submitted && f.codeUser.errors" class="invalid-feedback">
              <div *ngIf="f.codeUser.errors.required">User code cannot be empty</div>
              <div *ngIf="f.codeUser.errors.maxlength">User code cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Name:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control"
                  formControlName="name" id="name" placeholder="Name" type="text" disabled>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">User name cannot be empty</div>
              <div *ngIf="f.name.errors.pattern">User name cannot contain special characters</div>
              <div *ngIf="f.name.errors.maxlength">User name cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Email:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"
                  formControlName="email" placeholder="Email" type="text" disabled>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email cannot be empty</div>
              <div *ngIf="f.email.errors.pattern">Email format is incorrect</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Date of Birth:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" class="form-control"
                  formControlName="dob" placeholder="Date of Birth" disabled>
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">Date of birth cannot be empty</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Address:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.address.errors }" class="form-control"
                  formControlName="address" placeholder="Address" disabled>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback" disabled>
              <div *ngIf="f.address.errors.required">Address cannot be empty</div>
              <div *ngIf="f.address.errors.maxlength">Address cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Phone Number:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" class="form-control"
                  formControlName="phoneNumber" placeholder="Phone Number" disabled>
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">Phone number cannot be empty</div>
              <div *ngIf="f.phoneNumber.errors.pattern">Phone number format is incorrect</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">School Year:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <ng-select [ngClass]="{ 'is-invalid': submitted && f.nam.errors }"
                placeholder="School Year" [items]="yearList" [clearable]="false"
                formControlName="nam"></ng-select>
            <div *ngIf="submitted && f.nam.errors" class="invalid-feedback">
              <div *ngIf="f.nam.errors.required">School year cannot be empty</div>
              <div *ngIf="f.nam.errors.maxlength">School year cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Username:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control"
                  formControlName="username" placeholder="Username" disabled>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username cannot be empty</div>
              <div *ngIf="f.username.errors.maxlength">Username cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Password:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control"
                  formControlName="password" placeholder="Password" type="password" disabled>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password cannot be empty</div>
              <div *ngIf="f.password.errors.maxlength">Password cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Retype Password:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <input [ngClass]="{ 'is-invalid': submitted && f.retypePassword.errors }" class="form-control"
                  formControlName="retypePassword" placeholder="Retype Password" type="password" disabled>
            <div *ngIf="submitted && f.retypePassword.errors" class="invalid-feedback">
              <div *ngIf="f.retypePassword.errors.required">Retype password cannot be empty</div>
              <div *ngIf="f.retypePassword.errors.maxlength">Retype password cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <label class="font-weight-bold">Faculty:</label>
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
            <ng-select [ngClass]="{ 'is-invalid': submitted && f.facultyName.errors }"
                      placeholder="Choose Faculty" [items]="falList" formControlName="facultyName"
                      [clearable]="false" disabled></ng-select>
            <div *ngIf="submitted && f.facultyName.errors" class="invalid-feedback">
              <div *ngIf="f.facultyName.errors.required">Please choose user's faculty</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #edit>
  <div class="">
    <h4 class="float-left mt-3 ml-3">Marketing Coordinator Profile</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="mcForm" (ngSubmit)="onSubmit(mcForm.value)" class="mx-1 my-1">
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">User Code:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control"
                 formControlName="codeUser" placeholder="User Code">
          <div *ngIf="submitted && f.codeUser.errors" class="invalid-feedback">
            <div *ngIf="f.codeUser.errors.required">User code cannot be empty</div>
            <div *ngIf="f.codeUser.errors.maxlength">User code cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Name:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control"
                 formControlName="name" id="name" placeholder="Name" type="text">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">User name cannot be empty</div>
            <div *ngIf="f.name.errors.pattern">User name cannot contain special characters</div>
            <div *ngIf="f.name.errors.maxlength">User name cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Email:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"
                 formControlName="email" placeholder="Email" type="text">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email cannot be empty</div>
            <div *ngIf="f.email.errors.pattern">Email format is incorrect</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Date of Birth:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" class="form-control"
                 formControlName="dob" placeholder="Date of Birth">
          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.errors.required">Date of birth cannot be empty</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Address:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.address.errors }" class="form-control"
                 formControlName="address" placeholder="Address" disable>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address cannot be empty</div>
            <div *ngIf="f.address.errors.maxlength">Address cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Phone Number:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" class="form-control"
                 formControlName="phoneNumber" placeholder="Phone Number">
          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">Phone number cannot be empty</div>
            <div *ngIf="f.phoneNumber.errors.pattern">Phone number format is incorrect</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">School Year:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <ng-select [ngClass]="{ 'is-invalid': submitted && f.nam.errors }"
              placeholder="School Year" [items]="yearList" [clearable]="false"
              formControlName="nam" disabled></ng-select>
          <div *ngIf="submitted && f.nam.errors" class="invalid-feedback">
            <div *ngIf="f.nam.errors.required">School year cannot be empty</div>
            <div *ngIf="f.nam.errors.maxlength">School year cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Username:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control"
                 formControlName="username" placeholder="Username">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username cannot be empty</div>
            <div *ngIf="f.username.errors.maxlength">Username cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Password:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control"
                 formControlName="password" placeholder="Password" type="password">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password cannot be empty</div>
            <div *ngIf="f.password.errors.maxlength">Password cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Retype Password:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <input [ngClass]="{ 'is-invalid': submitted && f.retypePassword.errors }" class="form-control"
                 formControlName="retypePassword" placeholder="Retype Password" type="password">
          <div *ngIf="submitted && f.retypePassword.errors" class="invalid-feedback">
            <div *ngIf="f.retypePassword.errors.required">Retype password cannot be empty</div>
            <div *ngIf="f.retypePassword.errors.maxlength">Retype password cannot be more than {{utils.CODE_MAXLENGTH}} characters long</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <label class="font-weight-bold">Faculty:</label>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <ng-select [ngClass]="{ 'is-invalid': submitted && f.facultyName.errors }"
                     placeholder="Choose Faculty" [items]="falList" formControlName="facultyName"
                     [clearable]="false"></ng-select>
          <div *ngIf="submitted && f.facultyName.errors" class="invalid-feedback">
            <div *ngIf="f.facultyName.errors.required">Please choose user's faculty</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
          <button class="btn btn-light btnfont" (click)="onSubmit(mcForm.value)">
            <i class="fas fa-edit"></i> {{btnSubmitName}}</button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <button class="btn btn-secondary btnfont" (click)="closeModal()">
            <i class="fas fa-times-circle"></i> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
